@page "/rework"

<div class="col-12 col-md-12" >
    
    <div class="row">

        <div class="col-2 col-md-2 col-xs-2"></div>
        <div class="col-8 col-md-8 col-xs-8">
           <label for="EmployeeId"> Employee Id</label>
           <DxTextBox Id="EmployeeId"  BindValueMode="BindValueMode.OnInput" @onkeyup="@((e)=>HandleEmployeeIdInput(e))"  @bind-Text="@EmployeeId" NullText="Employee Id"/>
              <p>Selected Id: @EmployeeId</p>

            <div style="padding-bottom: 20px;">
                <label for="areas">Select Area</label>
                <DxComboBox Id="areas"
                            NullText="Select Area..."
                            Data="@Areas"
                            SelectedItemChanged="@AreasChange"
                            AllowUserInput="true"
                            ListRenderMode="ListRenderMode.Virtual"
                            FilteringMode="DataGridFilteringMode.Contains"
                            Value="@SelectedArea"
                            CssClass="cw-100">
                </DxComboBox>

                Selected Area: @SelectedArea
            </div>

            <div style="padding-bottom: 20px;">
                <label for="ngCode">Select NgCode</label>
                        <DxComboBox
                                    Id="ngCode"
                                    NullText="Select NgCode..."
                                    Data="@NgCodeList"
                                    SelectedItemChanged="@NgCodeChange"
                                    AllowUserInput="true"
                                    ListRenderMode="ListRenderMode.Virtual"
                                    FilteringMode="DataGridFilteringMode.Contains" 
                                    Value="@SelectedNgCode"
                                    @onkeydown="@Enter"
                                    CssClass="cw-100">
                                </DxComboBox>

                 Selected Code: @SelectedNgCode
        </div>

         
    <div class="col-2 col-md-2 col-xs-2"></div>

    <div id="remark" style="padding-bottom: 20px;">
         <DxTextBox ReadOnly="SelectedRework == null" BindValueMode="BindValueMode.OnInput" @onkeyup="@((e)=>HandleRemarkInput(e))"  @bind-Text="@remark" NullText="Remark"/>
    </div>
     <div id="barcode" style="padding-bottom: 20px;">
         <DxTextBox ReadOnly="SelectedRework == null" BindValueMode="BindValueMode.OnInput" @onkeyup="@((e)=>HandleBarcodeInput(e))"  @bind-Text="@barcode" NullText="Barcode"/>
          <br/>Barcode: @reviewBarcode
    </div>
   
     </div> 
     <div style="text-align: center;">
         <InfosField CssTextColor="@InfoCssColor" Result="@Result" Contents="@Infofield" HighlightMsg="@HighlightMsg"></InfosField>
     </div>

    </div>  
</div>

<JSElementFocus ReadOnlyElement="@ReadOnlyElement" FocusElement="@FocusElement" />