@page "/checkstock"
@using MESystem.LabelComponents
@if (!ShowPopUpFamily)
{
    <div style="text-align: right;">
          <DxButton Click=@ExportExcel Enabled="@(ListStockByFamily.Count() > 0)" CssClass="btn btn-warning" Text="Export Excel" />
    </div>
 
                <div class="m-2 d-block text-align-center">
                                <DxGrid Data="@ListStockByFamily"
                                        CssClass="cw-100 m-auto overflow-y-auto"
                                        ShowFilterRow="true" 
                                        AllowSort="true"
                                        PageSize="50">
                                        <Columns>
                            <DxGridDataColumn TextAlignment="GridTextAlignment.Center" FieldName="@nameof(StockByFamily.Family)"/>
                <DxGridDataColumn TextAlignment="GridTextAlignment.Center" FieldName="@nameof(StockByFamily.ProductionDate)" />
                            <DxGridDataColumn TextAlignment="GridTextAlignment.Center" FieldName="@nameof(StockByFamily.PartNo)"/>
                            <DxGridDataColumn TextAlignment="GridTextAlignment.Center" FieldName="@nameof(StockByFamily.CustomerPartNo)"/>
                            <DxGridDataColumn TextAlignment="GridTextAlignment.Center" FieldName="@nameof(StockByFamily.Revision)" />
                            <DxGridDataColumn TextAlignment="GridTextAlignment.Center" FieldName="@nameof(StockByFamily.Stock)"  />
                        </Columns>
                                </DxGrid>
                    
                </div>
    
}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h5 style="text-align: left; padding-top: 50px;">
                <InfosField CssTextColor="@InfoCssColor" Result="@Result" Contents="@Infofield" HighlightMsg="@HighlightMsg"></InfosField>
            </h5>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<DxPopup @bind-Visible="@ShowPopUpFamily"
         CloseOnEscape="true"
         CloseOnOutsideClick="true"
         ShowCloseButton="true"
         ShowFooter="true"
         HeaderText="Choose Family"
         Closing="PopupClosing">
    <BodyContentTemplate>
        <DxComboBox Id="ChooseFamily"
                    NullText="Select Family ..."
                    Data="@FamilyList"
                    TData="@(Family)"
                    TValue="@(Family)"
                    SelectedItemChanged="@GetFamily"
                    AllowUserInput="true"
                    ListRenderMode="ListRenderMode.Virtual"
                    FilteringMode="DataGridFilteringMode.StartsWith"
                    TextFieldName="@nameof(Family.family)"
                    ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                    CssClass="cw-320" />
    </BodyContentTemplate>
    <FooterContentTemplate>
        <DxButton RenderStyle="ButtonRenderStyle.Primary" Text="OK"
                  Click="@context.CloseCallback" />
    </FooterContentTemplate>
</DxPopup>
