@page "/mergepartialbox"
@using MESystem.LabelComponents
<div class="shadow px-0 mb-0 bg-white rounded">
    <div class="card-body">
        <div id="ShippingScanField" class="m-0 d-block">
            <DxFormLayout CssClass="col-12 m-0 d-inline-flex">
                <DxFormLayoutTabPages CssClass="col-12 m-0 d-md-block d-sm-block d-inline-flex">
                    <DxFormLayoutTabPage Caption="Scan Two Partial Boxs">
                        <DxFormLayoutItem Caption="Barcode Box 1: " ColSpanMd="6">
                            @*<input Id="BarcodeBox1"
                                       Text=@(Scanfield) NullText="Scan box 1 here..."
                                       CssClass="ShippingScanField w-100"
                                       TextChanged="@((e)=>GetInputfield(e))"
                                       @onkeyup="@HandleBarcodeBox1" />*@
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Barcode Box 2: " ColSpanMd="6">
                          @*  <input Id="BarcodeBox2"
                                       Text=@(Scanfield2) NullText="Scan box 2 here..."
                                       CssClass="ShippingScanField w-100"
                                       TextChanged="@((e)=>GetInputfield2(e))"
                                       @onkeyup="@HandleBarcodeBox2" />*@
                        </DxFormLayoutItem>
                    </DxFormLayoutTabPage>
                </DxFormLayoutTabPages>
            </DxFormLayout>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h5 style="text-align: left; padding-top: 50px;">
                <InfosField CssTextColor="@InfoCssColor" Result="@Result" Contents="@Infofield" HighlightMsg="@HighlightMsg"></InfosField>
            </h5>
        </div>
        <div class="col-3"></div>
    </div>
</div>



