@page "/setrevbyso"
@using MESystem.LabelComponents
<div>
    <div class="col-12 d-inline-flex flex-column flex-md-row justify-content-md-end justify-item-md-center">
        <label class="d-none d-md-flex" for="SearchOrder">Search: </label>
        <input id="SearchOrder"
                   @bind-value="@SearchSelectedOrderNo"
placeholder="Input Order..."
                   class="col-12 col-md-4"
                   @onkeyup="@SearchOrderNo"
                   />
    </div>
    <div>
        <div class="table table-bordered">
            <div>
                <h3>
                    This is the list of shop order have just changed the customer version.
                    Please confirm which version using for process lock on Traceability system
                </h3>
            </div>
            <div>
                @foreach (CustomerRevision revision in OrderNoDataList)
                {
                    <div class="shadow px-2 mb-2 bg-white rounded">

                        <div class="card-body">
                            <div class="col-12 d-inline-flex d-md-block">
                              <div class="col-4 d-inline-flex flex-column flex-md-row col-md-12">
                                @*<div class="col-2 d-inline-flex flex-row justify-content-start">@revision.ProductFamily</div>*@
                                <div class="col-12 col-md-2 d-inline-flex flex-row justify-content-start">PartNo</div>
                                <div class="col-12 col-md-2 d-inline-flex flex-row justify-content-start">OrderNo</div>
                                <div class="col-12 col-md-2 d-inline-flex flex-row justify-content-start">Quantity</div>
                                <div class="col-12 col-md-2 d-inline-flex flex-row justify-content-start">Confirm Date</div>
                                <div class="col-12 col-md-2 d-inline-flex flex-row justify-content-between">
                                    Current CV
                                </div>
                                <div class="col-12 col-md-6 d-inline-flex flex-row justify-content-between">
                                    Confirmation Note
                                </div>
                                
                            </div>
                            <div class="col-8 d-inline-flex flex-column flex-md-row col-md-12">
                                @*<div class="col-2 d-inline-flex flex-row justify-content-start">@revision.ProductFamily</div>*@
                                <div class="col-12 col-md-2 d-inline-flex flex-row justify-content-start">@revision.PartNo</div>
                                <div class="col-12 col-md-2 d-inline-flex flex-row justify-content-start">@revision.OrderNo</div>
                                <div class="col-12 col-md-2 d-inline-flex flex-row justify-content-start">@revision.Quantity</div>
                                <div class="col-12 col-md-2 d-inline-flex flex-row justify-content-start">@revision.ConfirmDateTime</div>

                                <div class="col-12 col-md-2 d-inline-flex flex-row justify-content-between">
                                    <SwitchToggle Value="@revision" @bind-CheckedValue="@SelectedRevision"></SwitchToggle>
                                </div>
                                <div class="col-12 col-md-6 d-inline-flex flex-row justify-content-start">
                                    <input colspan=12 id="@(string.Concat(@revision.OrderNo, '_', @revision.PartNo))" 
                                    @bind-value="@revision.Remark" 
                                    placeholder="Note here..." 
                                    class="remark-textbox-custom col-4 col-lg-4"
                                    @onkeyup="@UpdateRemark"/>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
