@page "/shipoutpallet"

@inherits ComponentBase
@using MESystem.LabelComponents

@if (!IsPopUp)
{

    <div class="col-12 d-block d-sm-flex justify-content-around align-item-around p-2">
        <div class="col-12 col-lg-6 p-2">
            <div class="d-flex flex-wrap cw-100">
             @*   <DxComboBox Id="ComboBox1"
                        NullText="Select a PO number..."
                        Data="@CustomerOrderData"
                        FilteringMode="DataGridFilteringMode.StartsWith"
                        TextFieldName="@nameof(CustomerOrder.CustomerPoNo)"
                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                        CssClass="cw-480" />*@
            </div>
            @if (PoData != "")
            {
                <p class="d-flex flex-wrap cw-100 mt-2 text-muted">
                    <b>@PoData</b>
                </p>

                <p class="d-flex flex-wrap cw-100 mt-2 text-muted">
                    <b class="@Css">Qty planned: @RevisedQtyDue || Qty shipped: @QtyShipped</b>
                </p>

                <p class="d-flex flex-wrap cw-100 mt-2 text-muted">
                    <h3 style="background-color: @QtyCssColor; color: black;" class="@Css">Quantity left: @QtyLeft &nbsp;&nbsp; <i class="fa-solid fa-pen-to-square text-primary"></i></h3>
                </p>

                <div class="shadow p-3 mb-5 bg-white rounded">
                    <div class="card-title">
                        <h3>Customer Revision</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            @if (CustomerRevisionsDetail is not null)
                            {
                                <DxDataGrid Data="@CustomerRevisionsDetail"
                                CssClass="col-lg-6 m-auto overflow-auto"
                                ShowPager="false"
                                KeyFieldName="@nameof(CustomerRevision.OrderNo)">
                                    <DxDataGridColumn Field="@nameof(CustomerRevision.PO)" Caption="PO No." />
                                    <DxDataGridColumn Field="@nameof(CustomerRevision.PartNo)" Caption="Part No." />
                                    <DxDataGridColumn Field="@nameof(CustomerRevision.OrderNo)" Caption="Order No." />
                                    <DxDataGridColumn Field="@nameof(CustomerRevision.Rev)" Caption="Customer Revision" />
                                    <DxDataGridColumn Field="@nameof(CustomerRevision.ProductFamily)" Caption="Product Family" />
                                </DxDataGrid>
                            }
                            else
                            {
                                <h5><i>Retrying customer revision...</i></h5>
                            }
                        </div>


                        @if (IsPhoenix)
                        {
                            <h4>Rev of model @PartNo .: <b style="color: blue">@CurrentIFSRevision</b></h4>
                            <h5>Rev of selected PO .: <b style="color: blue">@DefaultUsedCV</b></h5>
                            <h5>Rev of the current pallete .: <b style="color: blue">@FirstRevisionOnPallete</b></h5>
                        }
                    </div>
                </div>

            }
            else
            {
                <div class="d-flex flex-column justify-content-center">
                    <h1 style="color: red;">PO no is not set</h1>
                    <h3 style="color: red;">Please pay attention!!!</h3>
                </div>
            }
        </div>
        <div class="col-12 col-lg-6 p-2 justify-content-around align-item-end">
        </div>
    </div>
}

<div class="container-fluit col-12">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card-title">
            <h3>Verify Pallet</h3>
        </div>
        <div class="card-body">
            <div  id="VerifyScanField" class="m-0 d-block">
            <div class="col-12 m-0 d-inline-flex">
                
                                <DxTextBox Text=@(Scanfield) NullText="Scan pallet here..." ReadOnly=@(!VerifyTextBoxEnabled) CssClass="w-100" TextChanged="@((e)=>GetInputfield(e))"
                                       @onkeyup="@HandleInput" />
                    <i class="fa-solid fa-barcode" style="aspect-ratio:auto; margin:auto; margin-left: -24px; z-index: 1; cursor:zoom-out; color: steelblue" onclick="@(async() =>{ ShowScanBarcode = true; await UpdateUI();})" />
                        </div>
            </div>
            <div class="col-6">
                <h5 style="color: @InfoColor;">@CurrentFgs / @StandardFgs</h5>
            </div>
        </div>
    </div>
</div>

