@page "/warehouse/shipping"
@using MESystem.LabelComponents

@if (CustomerOrderData == null)
{
    <div class="col-12 d-flex flex-column justify-content-center align-item-center">
        <br />
        <div class="spinner-border"></div>
        <br />
        <span style="display: inline-block; vertical-align: super">Loading...</span>
    </div>
}
else
{
    <div class="col-12 d-block d-sm-flex justify-content-around align-item-around p-3">
        <div class="col-12 col-lg-6 p-2">
            <div class="d-flex flex-wrap cw-100 mb-2">
                <DxComboBox Id="ComboBox1"
                        NullText="Select PO..."
                        Data="@CustomerOrderData"
                        TData="@(CustomerOrder)"
                        TValue="@(CustomerOrder)"
                        SelectedItemChanged="@GetCustomerPo"
                        ReadOnly="@ComboBox1ReadOnly"
                        FilteringMode="DataGridFilteringMode.StartsWith"
                        TextFieldName="@nameof(CustomerOrder.CustomerPoNo)"
                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                        CssClass="col-12 col-lg-6 col-xl-6" />
            </div>
            @if (PoData != "")
            {
                <p class="d-flex flex-wrap cw-100 m-1 text-muted">
                    <b style="color: blue">@PoData</b>
                </p>

                <p class="d-flex flex-wrap cw-100 m-1 text-muted">
                    <b class="@Css">Quantity planned: <span style="color: blue">@RevisedQtyDue</span> || Quantity shipped: <span style="color: blue">@QtyShipped</span></b>
                </p>

                <p class="d-flex flex-wrap cw-100 mt-2 text-muted">
                    <h3 style="background-color: @QtyCssColor; color: black;" class="@Css">Quantity left: @QtyLeft &nbsp;&nbsp; <i class="fa-solid fa-pen-to-square text-primary" onclick=@EditShipmentQty></i></h3>
                </p>

                <div class="shadow mt-4 p-3 bg-white rounded">
                    <div class="card-title">
                        <h3>Customer Revision</h3>
                    </div>
                    <div class="card-body">
                        <div>
                            @if (CustomerRevisionsDetail is not null)
                            {
                                <DxDataGrid Data="@CustomerRevisionsDetail"
                                CssClass="col-12 col-lg-6 m-auto overflow-y-auto"
                                ShowPager="false">
                                    <DxDataGridColumn Field="@nameof(CustomerRevision.PO)" Caption="PO" />
                                    <DxDataGridColumn Field="@nameof(CustomerRevision.PartNo)" Caption="FRIWO PN" />
                                    <DxDataGridColumn Field="@nameof(CustomerRevision.OrderNo)" Caption="Shop Order" />
                                    <DxDataGridColumn Field="@nameof(CustomerRevision.Rev)" Caption="Customer version" />
                                    <DxDataGridColumn Field="@nameof(CustomerRevision.ProductFamily)" Caption="Product Family" />
                                </DxDataGrid>
                            }
                            else
                            {
                                <h5><i>Retrying customer revision...</i></h5>
                            }
                        </div>

                        @if (IsPhoenix)
                        {
                            <h4 style="display: none;">Customer Version of model @PartNo .: <b style="color: blue">@CurrentIFSRevision</b></h4>
                            <h5>Customer Version of selected PO .: <b style="color: blue">@FirstRevisionOnPO</b></h5>
                            <h5>Customer Version of the current pallete .: <b style="color: blue">@FirstRevisionOnPallet</b></h5>
                        }
                    </div>
                </div>
                @if (ConfirmPallet)
                {
                    <div class="d-inline-flex mt-2 w-100">
                        <ShipOutPallet IsPopUp="true"
                           Value="@Value"
                           @bind-VerifyValue=@(IsWorking)
                           CustomerRevisionsDetail="@CustomerRevisionsDetail"
                           VerifyTextBoxEnabled=@(VerifyTextBoxEnabled)>
                        </ShipOutPallet>
                    </div>
                }
            }
            else
            {
                <div class="d-inline-flex flex-column justify-item-center mt-5 p-5">
                    <h1 style="color: red;">PO number was not selected</h1>
                    <h3 style="color: red;">Please pay attention!!!</h3>
                </div>
            }
        </div>

        <div class="col-12 col-lg-6 justify-content-around align-item-end">
            <div class="d-block d-lg-flex flex-inline col-12 p-1 justify-content-between">
                <DxButton Click=@EnterWithoutPOMode Enabled="@(!withoutPOmode)" CssClass="btn btn-warning" Text="Scan without PO number" />
                <div class="col-12 col-md-4 col-lg-4 p-1">
                    <label for="ComboBox2" class="mx-0">Printer:&nbsp;&nbsp;</label>
                    <DxComboBox Id="ComboBox2"
                            NullText="Select Printer..."
                            Data="@(Printers)"
                            Value="@SelectedPrinter"
                            SelectedItemChanged="@(e=>SelectedPrinter = e)"
                            TValue="string"
                            TData="string"
                            CssClass="col-12" />
                </div>
            </div>
            <div class="table">
                <div class="col-12 d-block d-lg-inline d-lg-flex justify-content-between" aria-controls="true">
                    <div class="col-12 col-md-4 col-lg-4 p-1">
                        FRIWO PN
                        <DxTextBox Id="PartNoField" ColSpanLg=6 ColSpanMd=12 Text="@SelectedPartNo" NullText="Key in Product Number" ReadOnly="@(IsReady||(!withoutPOmode))" CssClass="PartNoField col-4 col-lg-4"
                               TextChanged="@((newValue) => SetPartNo(newValue))" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 p-1">
                        Quantity Per Pallet
                        <DxTextBox Id="QuantityPerPaletteScanField" ColSpanLg=6 ColSpanMd=12 Text="@(PaletteCapacity.ToString())" NullText="Input number of cartons per pallete here..." ReadOnly="@(IsReady||(!withoutPOmode))" CssClass="QuantityPerPaletteScanField col-4 col-lg-4"
                               TextChanged="@((newValue) => SetQuantityPerPalette(newValue))" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-4 p-1">
                        Quantity Per Carton
                        <DxTextBox Id="QuantityPerBoxScanField" Text="@(QtyPerBox.ToString())" ColSpanLg=6 ColSpanMd=12 NullText="Input quantity per carton here..." ReadOnly="@(IsReady||(!withoutPOmode))" CssClass="QuantityPerBoxScanField col-4 col-lg-4"
                               TextChanged="@((newValue) => SetQuantityPerBox(newValue))" />
                    </div>
                </div>
            </div>


            @if (!IsReady)
            {
                <div class="col-12 d-flex flex-column justify-content-center align-item-center">
                    <br />
                    <div class="spinner-border"></div>
                    <br />
                    <span style="display: inline-block; vertical-align: super">Loading...</span>
                </div>
            }
            else
            {
                <div class="shadow bg-white rounded p-3">
                    <div class="card-title">
                        <h3>Making Pallet</h3>
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-column w-100 m-0 text-muted">
                            @if (TotalScannedBox != null || ScannedBox != null)
                            {
                                <div class="d-inline-flex justify-content-between">
                                    <div class="@Css">Total quantity of finished goods: <h1 style="color: blue">@TotalFgs</h1> </div>
                                    <img class="" src="images/partialcode.gif" />
                                </div>

                                <h5 class="mb-2">Total quantity box scanned: <span style="color: blue;font-size: 20px">@(TotalScannedBox.Count())</span> || Quantity carton scanned: <span style="color: blue; font-size: 20px">@ScannedBox.Count()</span></h5>
                            }
                        </div>
                      @*  <div class="d-flex flex-wrap w-100 m-1 text-muted">
                            <span>Quantity carton per pallet: <b style="color: blue">@PaletteCapacity</b></span>
                            &nbsp;&nbsp;
                            <span>Quantity finished goods per carton: <b style="color: blue">@QtyPerBox</b></span>
                        </div>

                        <div class="d-flex flex-wrap w-100 m-1 text-muted">
                            <b style="color: blue">@PoData</b>
                        </div>*@
                        <div class="col-12 d-inline-flex flex-column flex-md-row justify-content-between mb-2">
                            <div class="col-12 col-md-3 d-inline-flex flex-row justify-content-between justify-content-md-start m-1">
                                <label for="forcePrint">Sound</label>
                                <RadzenSwitch id="forcePrint" Placeholder="Force Print" @bind-Value="@(Sound)"></RadzenSwitch>
                            </div>
                            <div class="col-12 col-md-3 d-inline-flex flex-row justify-content-between justify-content-md-start m-1">
                                <label for="forcePrint">Do not print PO label</label>
                                <RadzenSwitch id="forcePrint" Placeholder="Force Print" @bind-Value="@(ForceDoNotPrint)"></RadzenSwitch>
                            </div>
                            <div class="col-12 col-md-3 d-inline-flex flex-row justify-content-between justify-content-md-start m-1">
                                <label for="confirmPallet">Verify Pallet </label>
                                <RadzenSwitch id="confirmPallet" Placeholder="Verify Pallet" @bind-Value="@(ConfirmPallet)"></RadzenSwitch>
                            </div>
                        </div>

                        <div id="ShippingScanField" class="m-0 d-block">
                            <DxFormLayout CssClass="col-12 m-0 d-inline-flex">
                                <DxFormLayoutTabPages CssClass="col-12 m-0 d-md-block d-sm-block d-inline-flex">
                                    <DxFormLayoutTabPage Caption="@Title">
                                        <DxFormLayoutItem CssClass="w-100">
                                            <DxTextBox Text=@(Scanfield) NullText="Scan barcode here..." ReadOnly=@(IsWorking) CssClass="ShippingScanField w-100" TextChanged="@((e)=>GetInputfield(e))" @onkeyup="@HandleInput" />
                                        </DxFormLayoutItem>
                                    </DxFormLayoutTabPage>
                                </DxFormLayoutTabPages>
                            </DxFormLayout>

                            <InfosField CssTextColor="@InfoCssColor" Result="@Result" Contents="@Infofield" HighlightMsg="@HighlightMsg"></InfosField>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="col-12 d-inline-flex flex-column m-2 p-3">

    @if (ScannedBox is not null && ScannedBox.Count() > 0)
    {
        <DxDataGrid Data="@ScannedBox"
                ShowPager="true"
                CssClass="cw-100 m-auto overflow-y-auto"
                KeyFieldName="@nameof(FinishedGood.BarcodeBox)">
            <DxDataGridColumn Field="@nameof(FinishedGood.InvoiceNumber)" Width="80px" Caption="PO no." />
            <DxDataGridColumn Field="@nameof(FinishedGood.BarcodeBox)" Width="80px" />
            <DxDataGridColumn Field="@nameof(FinishedGood.QtyBox)" Width="10px" Caption="Qty" />
            <DxDataGridColumn Field="@nameof(FinishedGood.DateOfPackingBox)" Width="90px" Caption="Date" />
        </DxDataGrid>
    }
    else
    {
        @*  <PalleteLabel Id="palleteLabel" Src="@BarcodePallet" Content="@LabelContent" />*@
    }
</div>

<DxPopup @bind-Visible="@CheckQtyPlanned"
         CloseOnEscape="true"
         CloseOnOutsideClick="true"
         ShowCloseButton="true"
         HeaderText="Qty for shipping"
         Closing="PopupClosing">
    <BodyContentTemplate>
        <DxTextBox Text="@QtyLeft.ToString()"
                   TextChanged="@((newQty) => OnValueChanged(newQty))"
                   InputCssClass="textBox" />
    </BodyContentTemplate>
</DxPopup>
